<div class="relative bg-lime h-88 sm:h-86">
  <div
    class="
      bg-deepblue
      font-sans
      text-sm text-white
      w-40
      h-10
      flex
      justify-center
      align-center
      my-0
      mx-auto
      items-center
      absolute
      left-0
      right-0
      -top-5
    "
  >
    TAKE ACTION
  </div>
  <div
    class="
      grid grid-cols-2
      pt-15
      sm:pt-16
      text-deepblue
      px-8
      sm:px-16
      gap-6
      sm:gap-14
    "
  >
    <div class="">
      <h3 class="font-cormorant text-lg">Learn</h3>
      <p class="text-sm pt-2">
        Get the facts about this issue and how we’re helping.
      </p>
    </div>
    <div class="">
      <h3 class="font-cormorant text-lg">Volunteer</h3>
      <p class="text-sm pt-2">
        Find out about upcoming events that need your help.
      </p>
    </div>
    <div class="">
      <h3 class="font-cormorant text-lg">Share</h3>
      <p class="text-sm pt-2">
        Let your social media networks know about this important cause.
      </p>
    </div>
    <div class="">
      <h3 class="font-cormorant text-lg">Donate</h3>
      <p class="text-sm pt-2">
        Help us raise money to make a big difference with this issue.
      </p>
    </div>
  </div>
</div>
