<div
  class="
    bg-dyk-home-mobile
    sm:bg-dyk-bg-tablet
    lg:bg-dyk-bg-lg
    bg-cover
    pb-8
    sm:pb-40 sm:grid sm:grid-cols-2
    xl:pb-160 xl:px-40
  "
>
  <div
    class="
      font-flood
      text-4-5xl text-white
      pt-16
      pl-8
      xl:pl-0 xl:pt-36
      sm:pl-16
      w-80
      xl:w-88
      sm:w-44
      leading-none
      xl:text-7xl
    "
  >
    Climate change Is a hunger issue.
    <div
      class="
        mb-7
        mt-8
        xl:my-16
        font-cormorant
        text-lg
        bg-lime
        w-36
        grid
        place-items-center
        my-0
        rounded-full
        h-10
        sm:order-3
        text-deepblue
        cursor-pointer
        border border-lime
        hover:bg-white
        border-solid
        transition
        delay-75
        duration-100
        ease-in-out
      "
    >
      Take Action
    </div>
  </div>

  <div>
    <div
      class="
        bg-white
        relative
        mt-36
        xl:mt-40
        sm:mt-16
        w-148
        xl:w-136
        my-0
        mx-auto
        items-center
        align-center
        pb-6
      "
    >
      <div
        class="
          bg-deepblue
          font-sans
          text-sm text-white
          w-40
          h-10
          flex
          justify-center
          align-center
          my-0
          mx-auto
          items-center
          absolute
          left-0
          right-0
          -top-5
          sm:order-2 sm:left-8 sm:right-full
        "
      >
        DID YOU KNOW?
      </div>
      <div class="grid grid-cols-5 text-deepblue px-8 xl:pb-8">
        <div class="col-span-4 pt-8">
          <h3 class="font-cormorant text-1xl xl:text-4-5xl">3 out of 4</h3>
          <p class="text-sm mt-2.5 xl:text-xl">
            People living in poverty depend on agriculture for survival.
          </p>
        </div>
        <div class="place-self-end text-center">
          <ul>
            <li
              class="
                h-8
                w-8
                bg-lime
                rounded-full
                mt-6
                mb-6
                xl:mb-4
                cursor-pointer
              "
            >
              <i class="fab fa-twitter align-middle"></i>
            </li>
            <li class="h-8 w-8 bg-lime rounded-full cursor-pointer">
              <i class="fab fa-facebook-f align-middle"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="
        bg-white
        relative
        mt-4
        w-148
        xl:w-136
        my-0
        mx-auto
        items-center
        align-center
        pb-6
      "
    >
      <div class="grid grid-cols-5 text-deepblue px-8 xl:pb-8">
        <div class="col-span-4 pt-8">
          <h3 class="font-cormorant text-1xl xl:text-4-5xl">100 million +</h3>
          <p class="text-sm mt-2.5 xl:text-xl">
            People living in poverty due to climate change by 2030
          </p>
        </div>
        <div class="place-self-end text-center">
          <ul>
            <li
              class="
                h-8
                w-8
                bg-lime
                rounded-full
                mt-6
                mb-6
                xl:mb-4
                cursor-pointer
              "
            >
              <i class="fab fa-twitter align-middle"></i>
            </li>
            <li class="h-8 w-8 bg-lime rounded-full cursor-pointer">
              <i class="fab fa-facebook-f align-middle"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="
        bg-white
        relative
        mt-4
        w-148
        xl:w-136
        my-0
        mx-auto
        items-center
        align-center
        pb-6
      "
    >
      <div class="grid grid-cols-5 text-deepblue px-8 xl:pb-8">
        <div class="col-span-4 pt-8">
          <h3 class="font-cormorant text-1xl xl:text-4-5xl">30%</h3>
          <p class="text-sm mt-2.5 xl:text-xl">
            How high crop yield losses could go by the year 2080
          </p>
        </div>
        <div class="place-self-end text-center">
          <ul>
            <li
              class="
                h-8
                w-8
                bg-lime
                rounded-full
                mt-6
                mb-6
                xl:mb-4
                cursor-pointer
              "
            >
              <i class="fab fa-twitter align-middle"></i>
            </li>
            <li class="h-8 w-8 bg-lime rounded-full cursor-pointer">
              <i class="fab fa-facebook-f align-middle"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="
        bg-white
        relative
        mt-4
        w-148
        xl:w-136
        my-0
        mx-auto
        items-center
        align-center
        pb-6
      "
    >
      <div class="grid grid-cols-5 text-deepblue px-8 xl:pb-8">
        <div class="col-span-4 pt-8">
          <h3 class="font-cormorant text-1xl xl:text-4-5xl">200 million +</h3>
          <p class="text-sm mt-2.5 xl:text-xl">
            Refugees dealing with food shortages by the year 2050
          </p>
        </div>
        <div class="place-self-end text-center">
          <ul>
            <li
              class="
                h-8
                w-8
                bg-lime
                rounded-full
                mt-6
                mb-6
                xl:mb-4
                cursor-pointer
              "
            >
              <i class="fab fa-twitter align-middle"></i>
            </li>
            <li class="h-8 w-8 bg-lime rounded-full cursor-pointer">
              <i class="fab fa-facebook-f align-middle"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
