<div class="text-deepblue px-8 mt-16 xl:px-40">
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-10 xl:gap-0 xl:grid-cols-5">
    <div class="font-cormorant text-lg w-28 leading-6">
      The Green Trees Initiative
    </div>
    <div class="xl:justify-self-end">
      <h6 class="text-0xs tracking-widest xl:text-sm">CONTACT US</h6>
      <div
        class="hidden xl:block xl:border-b border-deepblue w-40 xl:pt-2"
      ></div>
      <ul class="font-light text-sm xl:pt-4">
        <li>123 Anywhere St.</li>
        <li>Cityname, NY 11206</li>
        <li>(123) 456-7890</li>
        <li>contact@npo.org</li>
      </ul>
    </div>
    <div class="xl:order-5 xl:justify-self-start">
      <h6 class="text-0xs tracking-widest xl:text-sm">FOLLOW US</h6>
      <div
        class="hidden xl:block xl:border-b border-deepblue w-40 xl:pt-2"
      ></div>
      <ul class="font-light text-sm xl:pt-4">
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Facebook</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Twitter</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Instagram</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Medium</a>
        </li>
      </ul>
    </div>
    <div class="sm:order-5 xl:order-4 xl:justify-self-center">
      <h6 class="text-0xs tracking-widest xl:text-sm">LEARN MORE</h6>
      <div
        class="hidden xl:block xl:border-b border-deepblue w-40 xl:pt-2"
      ></div>
      <ul class="font-light text-sm xl:pt-4">
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">The issue</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">How we help</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Get involved</a>
        </li>
        <li
          class="
            underline
            xl:no-underline xl:hover:underline
            hover:text-gray-500
          "
        >
          <a href="#">Latest news</a>
        </li>
      </ul>
    </div>
    <div class="sm:order-4 xl:order-6 invisible sm:invisible"></div>
    <div
      class="
        sm:order-6
        xl:order-5
        hidden
        sm:block
        font-flood
        text-4-5xl
        leading-10
      "
    >
      #STOP CLIMATE CHANGE
    </div>
  </div>

  <div
    class="font-flood text-4-5xl leading-10 text-right pb-14 pt-7 sm:invisible"
  >
    #STOP CLIMATE CHANGE
  </div>
</div>
