<div class="text-deepblue px-8 mt-16">
  <div class="grid grid-cols-2 gap-10">
    <div class="font-cormorant text-lg w-20 leading-6">
      The Green Trees Initiative
    </div>
    <div class="">
      <h6 class="text-0xs tracking-widest">CONTACT US</h6>
      <ul class="font-light text-sm">
        <li>123 Anywhere St.</li>
        <li>Cityname, NY 11206</li>
        <li>(123) 456-7890</li>
        <li>contact@npo.org</li>
      </ul>
    </div>
    <div>
      <h6 class="text-0xs tracking-widest">FOLLOW US</h6>
      <ul class="font-light text-sm">
        <li class="underline"><a href="#">Facebook</a></li>
        <li class="underline"><a href="#">Twitter</a></li>
        <li class="underline"><a href="#">Instagram</a></li>
        <li class="underline"><a href="#">Medium</a></li>
      </ul>
    </div>
    <div class="">
      <h6 class="text-0xs tracking-widest">LEARN MORE</h6>
      <ul class="font-light text-sm">
        <li class="underline"><a href="#">The issue</a></li>
        <li class="underline"><a href="#">How we help</a></li>
        <li class="underline"><a href="#">Get involved</a></li>
        <li class="underline"><a href="#">Latest news</a></li>
      </ul>
    </div>
  </div>

  <div class="font-flood text-4-5xl leading-10 text-right py-14">
    #STOP CLIMATE CHANGE
  </div>
</div>
