<div
  class="
    bg-hero-home-mobile
    sm:bg-hero-home-tablet
    xl:bg-hero-home-desktop
    bg-cover
    pb-12
  "
>
  <div
    class="
      font-flood
      text-4-5xl text-white
      pt-8
      pl-8
      sm:pl-16 sm:pt-16
      w-44
      leading-none
    "
  >
    #STOP CLIMATE CHANGE
  </div>
  <div
    class="
      bg-white
      relative
      mt-36
      w-148
      sm:w-260
      my-0
      mx-auto
      items-center
      align-center
      text-center
    "
  >
    <div
      class="
        bg-deepblue
        font-sans
        text-sm text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        sm:left-16 sm:right-full
        right-0
        -top-5
      "
    >
      THE ISSUE
    </div>
    <p
      class="
        text-deepblue
        font-cormorant
        text-1xl
        pt-12
        sm:pt-16
        pb-8
        px-8
        sm:px-16
        flex
        justify-center
        sm:text-4xl sm:text-left
      "
    >
      Climate change poses the biggest threat to women in developing nations.
    </p>
    <div
      class="
        font-sans
        text-sm
        underline
        px-8
        sm:px-16 sm:pb-16
        pb-6
        sm:text-left
        text-deepblue
      "
    >
      <a href="#">Read more about this environmental and social cause</a>
    </div>
  </div>
</div>
