<div
  class="
    bg-hero-home-mobile
    sm:bg-hero-home-tablet
    xl:bg-hero-home-desktop
    bg-cover
    pb-12
    xl:pb-32 xl:grid xl:grid-cols-2 xl:grid-rows-1
  "
>
  <div
    class="
      font-flood
      text-4-5xl text-white
      pt-8
      xl:pt-36
      pl-8
      sm:pl-16 sm:pt-16
      xl:pl-28
      w-44
      leading-none
      xl:order-2 xl:text-7xl
    "
  >
    #STOP CLIMATE CHANGE
  </div>
  <div
    class="
      bg-white
      relative
      mt-36
      xl:mt-32
      w-148
      xl:w-136
      sm:w-260
      my-0
      mx-auto
      xl:ml-40 xl:mr-0
      items-center
      align-center
      text-center
      xl:order-1
    "
  >
    <div
      class="
        bg-deepblue
        font-sans
        text-sm text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        sm:left-16 sm:right-full
        right-0
        -top-5
      "
    >
      THE ISSUE
    </div>
    <p
      class="
        text-deepblue
        font-cormorant
        text-1xl
        xl:text-4-5xl
        pt-12
        sm:pt-16
        pb-8
        xl:pb-4
        px-8
        sm:px-16
        xl:pl-16 xl:pr-36 xl:leading-snug
        flex
        justify-center
        sm:text-4xl sm:text-left
      "
    >
      Climate change poses the biggest threat to women in developing nations.
    </p>
    <div
      class="
        font-sans
        text-sm
        xl:text-base
        underline
        px-8
        sm:px-16 sm:pb-16
        pb-6
        sm:text-left
        text-deepblue
      "
    >
      <a href="#">Read more about this environmental and social cause</a>
    </div>
  </div>
</div>
