<div class="bg-hero-home-mobile bg-cover h-herohome">
  <div class="font-flood text-4-5xl text-white pt-8 pl-8 w-44">
    #STOP CLIMATE CHANGE
  </div>
  <div
    class="
      bg-white
      relative
      mt-18
      w-148
      my-0
      mx-auto
      items-center
      align-center
      text-center
    "
  >
    <div
      class="
        bg-deepblue
        font-sans
        text-sm text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-5
      "
    >
      THE ISSUE
    </div>
    <p class="font-cormorant text-1xl pt-12 pb-8 pl-8 pr-8 flex justify-center">
      Climate change poses the biggest threat to women in developing nations.
    </p>
    <div class="font-sans text-sm underline pl-8 pr-8 pb-6">
      <a href="#">Read more about this environmental and social cause</a>
    </div>
  </div>
</div>
