<div class="h-48 sm:h-32 text-deepblue mb-4 sm:mb-8">
  <div class="grid grid-cols-2 grid-rows-2 mx-8 sm:mx-16 pt-7">
    <div
      class="logo font-cormorant text-lg leading-6 pt-3 sm:self-end sm:-mb-1"
    >
      <p>The Green</p>
      <p>Trees Initiative</p>
    </div>
    <ul
      class="
        font-sans font-light
        text-sm
        sm:text-base sm:col-span-2
        place-self-end
        sm:place-self-start sm:self-end
        leading-6
        mr-4
        sm:mr-0 sm:order-3 sm:flex sm:flex-row
      "
    >
      <li>About us</li>
      <li class="sm:ml-8">Our stories</li>
      <li class="sm:ml-8">News and events</li>
    </ul>
    <div
      class="
        font-cormorant
        text-lg
        bg-lime
        col-span-2
        sm:col-span-1
        h-10
        grid
        place-items-center
        sm:place-self-end
        my-0
        mx-auto
        sm:mx-0
        rounded-full
        w-148
        sm:w-36
        mt-8
        sm:self-end sm:mt-0 sm:order-2
      "
    >
      Donate today
    </div>
  </div>
</div>
