<div
  class="
    h-48
    sm:h-32
    text-deepblue
    mb-4
    sm:mb-8 sm:pb-8
    xl:pb-0 xl:h-full
    px-8
    pt-7
    sm:px-16
    xl:px-40
  "
>
  <div
    class="grid grid-cols-2 grid-rows-2 xl:py-8 xl:grid-cols-5 xl:grid-rows-1"
  >
    <div
      class="
        logo
        font-cormorant
        text-lg
        leading-6
        pt-3
        sm:self-end sm:-mb-1
        xl:place-self-center xl:pt-0
      "
    >
      <p>The Green</p>
      <p>Trees Initiative</p>
    </div>
    <ul
      class="
        font-sans font-light
        text-sm
        sm:text-base sm:col-span-2
        xl:col-span-3
        place-self-end
        xl:place-self-center
        sm:place-self-start sm:self-end
        leading-6
        mr-4
        sm:mr-0 sm:order-3 sm:flex sm:flex-row
        xl:order-2 xl:ml-24
      "
    >
      <li class="xl:mr-14">About us</li>
      <li class="sm:ml-8 xl:mr-14">Our stories</li>
      <li class="sm:ml-8 xl:mr-14">News and events</li>
    </ul>
    <div
      class="
        font-cormorant
        text-lg
        bg-lime
        col-span-2
        sm:col-span-1
        h-10
        grid
        place-items-center
        sm:place-self-end
        my-0
        mx-auto
        sm:mx-0
        rounded-full
        w-148
        sm:w-36
        mt-8
        sm:self-end sm:mt-0 sm:order-2
        xl:order-3 xl:place-self-center
      "
    >
      Donate today
    </div>
  </div>
</div>
