<div class="h-48 text-deepblue">
  <div class="top grid grid-cols-2 ml-8 pt-7 pb-7 mr-12">
    <div class="logo font-cormorant text-lg leading-6 pt-3">
      <p>The Green</p>
      <p>Trees Initiative</p>
    </div>
    <ul class="font-sans font-light text-sm place-self-end leading-6">
      <li>About us</li>
      <li>Our stories</li>
      <li>News and events</li>
    </ul>
  </div>

  <div
    class="
      font-cormorant
      text-lg
      bg-lime
      w-80
      grid
      place-items-center
      my-0
      mx-auto
      rounded-full
      h-10
    "
  >
    Donate today
  </div>
</div>
