<div class="bg-deepblue pt-16 pb-8 sm:px-16 sm:pb-16 xl:px-40 xl:py-32">
  <div
    class="
      flex
      justify-center
      font-flood
      text-4-5xl text-white
      px-8
      sm:px-0
      leading-none
      text-center
      sm:text-left
      align-center
      xl:pb-16 xl:w-240 xl:text-7xl
    "
  >
    Let’s Take action now to save the future.
  </div>

  <div class="sm:grid sm:grid-cols-2 xl:max-w-280 xl:mx-auto">
    <div class="relative justify-center mt-18 xl:mt-0 px-8 sm:px-0 xl:h-full">
      <img src="/assets/img/tree-planting-sq.png" />
      <div
        class="
          bg-white
          font-sans
          text-sm text-deepblue
          w-40
          h-10
          flex
          justify-center
          align-center
          my-0
          mx-auto
          items-center
          absolute
          left-0
          right-0
          -top-5
          sm:hidden
        "
      >
        EVENT
      </div>
    </div>
    <div
      class="
        bg-deepblue
        text-white
        mx-8
        flex
        justify-center
        xl:justify-start
        align-center
        flex-col
        items-center
        text-center
        sm:text-left sm:mx-0 sm:ml-8
      "
    >
      <div
        class="
          bg-white
          font-sans
          text-sm text-deepblue
          w-40
          h-10
          flex
          justify-center
          align-center
          my-0
          mx-auto
          items-center
          left-0
          right-0
          -top-5
          sm:flex
          hidden
          sm:mt-18
          xl:mt-0
          sm:ml-0 sm:mr-auto
        "
      >
        EVENT
      </div>
      <h4
        class="
          font-cormorant
          text-1xl
          pt-8
          pb-6
          px-5
          sm:px-0 sm:pr-16 sm:text-2-5xl
          place-self-start
        "
      >
        Earth Day 2018 community tree planting event
      </h4>
      <p class="text-sm pb-8 px-5 sm:px-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
        felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque
        euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec
        iaculis nibh. Curabitur in tortor lorem.
      </p>
      <div
        class="
          mt-4
          font-cormorant
          text-deepblue text-lg
          bg-lime
          w-36
          grid
          place-items-center
          my-0
          mx-auto
          rounded-full
          h-10
          sm:mr-auto sm:ml-0
          cursor-pointer
          border border-lime
          hover:bg-white
          border-solid
          transition
          delay-75
          duration-100
          ease-in-out
        "
      >
        Read more
      </div>
    </div>
  </div>

  <div class="sm:grid sm:grid-cols-2 xl:max-w-280 xl:mx-auto xl:pt-28">
    <div
      class="
        relative
        justify-center
        mt-18
        xl:mt-0
        px-8
        sm:px-0
        xl:h-full
        sm:order-2 sm:place-self-end
      "
    >
      <img src="/assets/img/tree-planting-sq.png" />
      <div
        class="
          bg-white
          font-sans
          text-sm text-deepblue
          w-40
          h-10
          flex
          justify-center
          align-center
          my-0
          mx-auto
          items-center
          absolute
          left-0
          right-0
          -top-5
          sm:hidden
        "
      >
        LATEST NEWS
      </div>
    </div>
    <div
      class="
        bg-deepblue
        text-white
        mx-8
        flex
        justify-center
        xl:justify-start
        align-center
        flex-col
        items-center
        text-center
        sm:text-left sm:order-1 sm:mx-0 sm:mr-8
      "
    >
      <div
        class="
          bg-white
          font-sans
          text-sm text-deepblue
          w-40
          h-10
          flex
          justify-center
          align-center
          my-0
          mx-auto
          items-center
          left-0
          right-0
          -top-5
          sm:flex
          hidden
          sm:mt-18
          xl:mt-0
          sm:ml-0 sm:mr-auto
        "
      >
        LATEST NEWS
      </div>
      <h4
        class="
          font-cormorant
          text-1xl
          pt-8
          pb-6
          px-5
          sm:px-0 sm:pr-16 sm:text-2-5xl
          place-self-start
        "
      >
        Updates from the fall quarterly meeting
      </h4>
      <p class="text-sm pb-8 px-5 sm:px-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
        felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque
        euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec
        iaculis nibh. Curabitur in tortor lorem.
      </p>
      <div
        class="
          mt-4
          font-cormorant
          text-deepblue text-lg
          bg-lime
          w-36
          grid
          place-items-center
          my-0
          sm:mr-auto sm:ml-0
          mx-auto
          rounded-full
          h-10
          cursor-pointer
          border border-lime
          hover:bg-white
          border-solid
          transition
          delay-75
          duration-100
          ease-in-out
        "
      >
        Read more
      </div>
    </div>
  </div>
</div>
