<div class="bg-lime px-8 pt-8">
  <div class="font-cormorant text-deepblue text-1xl pr-12 leading-8">
    Subscribe to our monthly newsletter and stay up to date with all news and
    events.
  </div>
  <div class="grid grid-cols-2 py-8">
    <input
      class="rounded-full h-10 text-sm text-center text-deepblue w-48"
      placeholder="Enter your email address"
    />
    <div
      class="
        font-cormorant
        bg-deepblue
        text-lg text-lime
        w-28
        grid
        place-items-center
        rounded-full
        h-10
        place-self-end
      "
    >
      Subscribe
    </div>
  </div>
</div>
