<div
  class="
    bg-lime
    px-8
    2xl:px-40
    sm:px-16
    pt-8
    2xl:py-16 2xl:grid 2xl:grid-cols-6
  "
>
  <div
    class="
      font-cormorant
      text-deepblue text-1xl
      pr-12
      2xl:pr-0
      sm:pr-40
      leading-8
      2xl:leading-snug 2xl:col-span-3 2xl:place-self-center 2xl:text-2-5xl
    "
  >
    Subscribe to our monthly newsletter and stay up to date with all news and
    events.
  </div>
  <div class="grid grid-cols-2 py-8 2xl:place-self-center 2xl:col-span-2">
    <input
      class="
        rounded-full
        h-10
        text-sm text-center
        sm:text-left sm:p-4
        text-deepblue
        w-48
        xl:w-72
        2xl:w-88
        sm:w-62
        md:w-112
      "
      placeholder="Enter your email address"
    />
    <div
      class="
        font-cormorant
        bg-deepblue
        text-lg text-lime
        w-28
        sm:w-40
        grid
        place-items-center
        rounded-full
        h-10
        place-self-end
        block
        2xl:hidden
      "
    >
      Subscribe
    </div>
  </div>
  <div
    class="
      text-center
      font-cormorant
      bg-deepblue
      text-lg text-lime
      w-28
      sm:w-40
      grid
      place-items-center
      rounded-full
      h-10
      place-self-center
      justify-center
      hidden
      2xl:flex 2xl:col-span-1
    "
  >
    Subscribe
  </div>
</div>
