<div class="pt-14 md:pb-14 lg:pl-32">
  <div
    class="
      relative
      flex
      justify-center
      px-8
      md:px-0 md:pl-16 md:justify-start md:-z-1
    "
  >
    <img src="/assets/img/lady-baby.png" />
    <div
      class="
        bg-deepblue
        font-sans
        text-md text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-5
        md:left-32 md:right-full
      "
    >
      STORIES
    </div>
  </div>
  <div class="md:grid md:grid-cols-2">
    <div
      class="
        bg-deepblue
        text-white
        mx-8
        mt-8
        flex
        justify-center
        align-center
        flex-col
        items-center
        text-center
        md:text-left
        md:items-start
        md:z-10
        md:order-2
        md:w-144
        md:-mt-16
        md:mx-0
        md:-ml-64
        md:py-11
      "
    >
      <p
        class="
          font-cormorant
          text-1xl
          px-8
          md:px-16
          pt-8
          md:pt-0 md:pb-0
          pb-4
          md:pr-32
        "
      >
        “I am a person who was helped by this organization. Before they gave me
        assistance, I was really struggling with this issue, but now my life is
        better.”
      </p>
      <p class="text-0xs px-8 pb-8 md:pb-0 md:px-16 md:text-md md:pt-10">
        BALKI, FARMER AND MOTHER IN NIGER
      </p>
    </div>

    <div
      class="
        mb-7
        mt-8
        font-cormorant
        text-lg
        bg-lime
        w-36
        grid
        place-items-center
        my-0
        mx-auto
        rounded-full
        h-10
        md:order-3 md:mx-0 md:ml-4
        lg:ml-20
        md:place-self-center
      "
    >
      Read more
    </div>
    <div class="flex justify-center pb-8 md:order-1 md:block md:pb-0 md:pt-16">
      <div
        class="
          w-3.5
          h-3.5
          border
          rounded-full
          border-deepblue
          bg-deepblue
          mx-1
          md:mx-16 md:my-1
        "
      ></div>
      <div
        class="
          w-3.5
          h-3.5
          border
          rounded-full
          border-deepblue
          mx-1
          md:my-1 md:mx-16
        "
      ></div>
      <div
        class="
          w-3.5
          h-3.5
          border
          rounded-full
          border-deepblue
          mx-1
          md:my-1 md:mx-16
        "
      ></div>
      <div
        class="
          w-3.5
          h-3.5
          border
          rounded-full
          border-deepblue
          mx-1
          md:my-1 md:mx-16
        "
      ></div>
    </div>
  </div>
</div>
