<div class="pt-14">
  <div class="relative flex justify-center">
    <img src="/assets/img/lady-baby.png" />
    <div
      class="
        bg-deepblue
        font-sans
        text-sm text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-5
      "
    >
      STORIES
    </div>
  </div>

  <div
    class="
      bg-deepblue
      text-white
      mx-8
      mt-8
      flex
      justify-center
      align-center
      flex-col
      items-center
      text-center
    "
  >
    <p class="font-cormorant text-1xl px-8 pt-8 pb-4">
      “I am a person who was helped by this organization. Before they gave me
      assistance, I was really struggling with this issue, but now my life is
      better.”
    </p>
    <p class="text-xs px-8 pb-8">BALKI, FARMER AND MOTHER IN NIGER</p>
  </div>
  <div
    class="
      mb-7
      mt-8
      font-cormorant
      text-lg
      bg-lime
      w-36
      grid
      place-items-center
      my-0
      mx-auto
      rounded-full
      h-10
    "
  >
    Read more
  </div>
  <div class="flex justify-center pb-8">
    <div
      class="w-3.5 h-3.5 border rounded-full border-deepblue bg-deepblue mx-1"
    ></div>
    <div class="w-3.5 h-3.5 border rounded-full border-deepblue mx-1"></div>
    <div class="w-3.5 h-3.5 border rounded-full border-deepblue mx-1"></div>
    <div class="w-3.5 h-3.5 border rounded-full border-deepblue mx-1"></div>
  </div>
</div>
