<div
  class="
    grid grid-cols-1
    pt-14
    md:grid-cols-2 md:mb-16
    lg:justify-items-center
    md:w-260 md:mx-auto
    lg:w-240
    xl:w-280 xl:py-32
  "
>
  <!-- First row -->
  <div class="relative md:col-span-2 xl:col-span-1 xl:order-2">
    <div class="mx-8 xl:mx-0">
      <img src="./assets/img/lady-baby.png" class="mx-auto" />
    </div>
    <div
      class="
        bg-deepblue
        font-sans
        text-md text-white
        w-40
        h-10
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-5
        md:left-32
        xl:left-16
        md:right-full
      "
    >
      STORIES
    </div>
  </div>
  <!-- Second row -->
  <div
    class="
      bg-deepblue
      text-white
      mx-8
      xl:mx-0
      mt-8
      flex
      justify-center
      align-center
      flex-col
      items-center
      text-center
      md:text-left md:items-start md:z-10 md:order-2 md:w-144 md:-mt-16
      xl:-mt-108
      md:mx-0 md:-ml-52 md:py-11
      xl:order-3 xl:w-full xl:h-88 xl:ml-32
    "
  >
    <p
      class="
        font-cormorant
        text-1xl
        px-8
        pt-8
        md:px-16 md:pt-0 md:pb-0
        pb-4
        md:pr-32
        xl:px-16 xl:text-2-5xl
      "
    >
      “I am a person who was helped by this organization. Before they gave me
      assistance, I was really struggling with this issue, but now my life is
      better.”
    </p>
    <p class="text-0xs px-8 pb-8 md:pb-0 md:px-16 md:text-sm md:pt-10">
      BALKI, FARMER AND MOTHER IN NIGER
    </p>
  </div>
  <!-- Third row -->
  <div
    class="
      mt-8
      xl:-mt-8
      mb-7
      md:mb-0
      font-cormorant
      text-lg
      bg-lime
      w-36
      grid
      place-items-center
      my-0
      mx-auto
      rounded-full
      h-10
      md:order-3 md:mx-0 md:ml-12 md:place-self-center
      lg:place-self-end
      xl:order-5 xl:col-span-2 xl:place-self-start xl:ml-16
      cursor-pointer
      border border-lime
      hover:bg-transparent
      border-solid
      transition
      delay-75
      duration-100
      ease-in-out
    "
  >
    Read more
  </div>
  <!-- Fourth row -->
  <div
    class="
      flex
      justify-center
      pb-8
      md:order-1 md:block md:pb-0 md:pt-16
      xl:flex xl:order-1 xl:place-self-start xl:ml-16
    "
  >
    <div
      class="
        w-3.5
        h-3.5
        border
        rounded-full
        border-deepblue
        bg-deepblue
        mx-1
        xl:mx-1
        md:mx-16 md:my-1
        cursor-pointer
      "
    ></div>
    <div
      class="
        w-3.5
        h-3.5
        border
        rounded-full
        border-deepblue
        mx-1
        xl:mx-1
        md:my-1 md:mx-16
        cursor-pointer
      "
    ></div>
    <div
      class="
        w-3.5
        h-3.5
        border
        rounded-full
        border-deepblue
        mx-1
        xl:mx-1
        md:my-1 md:mx-16
        cursor-pointer
      "
    ></div>
    <div
      class="
        w-3.5
        h-3.5
        border
        rounded-full
        border-deepblue
        mx-1
        xl:mx-1
        md:my-1 md:mx-16
        cursor-pointer
      "
    ></div>
  </div>
</div>
