<div class="bg-deepblue pt-10 2xl:pt-20 2xl:pb-40 pb-8 text-deepblue 2xl:px-40">
  <div
    class="
      bg-white
      font-sans
      text-sm
      w-40
      h-10
      flex
      justify-center
      align-center
      my-0
      mx-auto
      sm:mx-16
      2xl:mx-0
      items-center
    "
  >
    WHAT WE DO
  </div>
  <div
    class="
      font-cormorant
      text-white text-lg
      sm:text-4xl
      items-center
      flex
      justify-center
      align-center
      my-0
      mx-16
      2xl:mx-0
      text-center
      sm:text-left
      pt-5
      2xl:pt-10 2xl:text-4-5xl
    "
  >
    Our mission is to create sustainable work for women in developing nations
    while helping to slow climate change.
  </div>
  <div class="2xl:flex 2xl:justify-between">
    <div
      class="
        bg-white
        relative
        mt-20
        2xl:mt-28
        w-148
        2xl:w-148
        sm:w-152
        my-0
        mx-auto
        2xl:mx-0
        items-center
        align-center
        text-center
        sm:text-left
        2xl:text-center
        pb-8
        sm:pb-12
        2xl:pb-8
        sm:grid sm:grid-cols-2
        2xl:block
      "
    >
      <div
        class="
          flex
          justify-center
          align-center
          my-0
          mx-auto
          sm:mx-0 sm:ml-8
          items-center
          absolute
          sm:relative
          left-0
          right-0
          -top-8
          w-62
          sm:w-72
          2xl:w-80
        "
      >
        <img src="./assets/img/tree-planting.png" />
      </div>
      <p
        class="
          font-cormorant
          text-lg
          pt-44
          sm:pt-8
          2xl:pt-0
          px-8
          sm:pl-8 sm:px-0
          flex
          justify-center
          sm:justify-start sm:pt-0 sm:text-1xl sm:place-self-start
          2xl:text-2-5xl
          text-left
          2xl:pl-8
        "
      >
        Tree Planting Initiatives
      </p>
      <div
        class="
          font-sans
          text-sm
          2xl:pt-12
          sm:text-base
          pb-6
          px-11
          sm:px-0 sm:pl-8 sm:pr-16 sm:p-0
          p-4
          sm:order-4 sm:-mt-24
          2xl:-mt-0 2xl:text-left
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
        felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque
        euismod laoreet.
      </div>
      <div
        class="
          font-cormorant
          text-lg
          sm:text-1xl
          2xl:text-lg
          bg-lime
          w-36
          grid
          place-items-center
          my-0
          mx-auto
          sm:mx-0
          rounded-full
          h-12
          sm:order-3 sm:place-self-end sm:self-start
          2xl:ml-8 2xl:mt-8
          cursor-pointer
          border border-lime
          hover:bg-transparent
          border-solid
          transition
          delay-75
          duration-100
          ease-in-out
        "
      >
        Read more
      </div>
    </div>
    <div
      class="
        bg-white
        relative
        mt-20
        2xl:mt-28
        w-148
        2xl:w-148
        sm:w-152
        my-0
        mx-auto
        2xl:mx-0
        items-center
        align-center
        text-center
        sm:text-left
        2xl:text-center
        pb-8
        sm:pb-12
        2xl:pb-8
        sm:grid sm:grid-cols-2
        2xl:block
      "
    >
      <div
        class="
          flex
          justify-center
          align-center
          my-0
          mx-auto
          sm:mx-0 sm:ml-8
          items-center
          absolute
          sm:relative
          left-0
          right-0
          -top-8
          w-62
          sm:w-72
          2xl:w-80
        "
      >
        <img src="./assets/img/education-training.png" />
      </div>
      <p
        class="
          font-cormorant
          text-lg
          pt-44
          sm:pt-8
          2xl:pt-0
          px-8
          sm:pl-8 sm:px-0
          flex
          justify-center
          sm:justify-start sm:pt-0 sm:text-1xl sm:place-self-start
          2xl:text-2-5xl
          text-left
          2xl:pl-8
        "
      >
        Education and Training
      </p>
      <div
        class="
          font-sans
          text-sm
          2xl:pt-12
          sm:text-base
          pb-6
          px-11
          sm:px-0 sm:pl-8 sm:pr-16 sm:p-0
          p-4
          sm:order-4 sm:-mt-24
          2xl:-mt-0 2xl:text-left
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
        felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque
        euismod laoreet.
      </div>
      <div
        class="
          font-cormorant
          text-lg
          sm:text-1xl
          bg-lime
          2xl:text-lg
          w-36
          grid
          place-items-center
          my-0
          mx-auto
          sm:mx-0
          rounded-full
          h-12
          sm:order-3 sm:place-self-end sm:self-start
          2xl:ml-8 2xl:mt-8
          cursor-pointer
          border border-lime
          hover:bg-transparent
          border-solid
          transition
          delay-75
          duration-100
          ease-in-out
        "
      >
        Read more
      </div>
    </div>
    <div
      class="
        bg-white
        relative
        mt-20
        2xl:mt-28
        w-148
        2xl:w-148
        sm:w-152
        my-0
        mx-auto
        2xl:mx-0
        items-center
        align-center
        text-center
        sm:text-left
        2xl:text-center
        pb-8
        sm:pb-12
        2xl:pb-8
        sm:grid sm:grid-cols-2
        2xl:block
      "
    >
      <div
        class="
          flex
          justify-center
          align-center
          my-0
          mx-auto
          sm:mx-0 sm:ml-8
          items-center
          absolute
          sm:relative
          left-0
          right-0
          -top-8
          w-62
          sm:w-72
          2xl:w-80
        "
      >
        <img src="./assets/img/advocacy.png" />
      </div>
      <p
        class="
          font-cormorant
          text-lg
          pt-44
          sm:pt-8
          2xl:pt-0
          px-8
          sm:pl-8 sm:px-0
          flex
          justify-center
          sm:justify-start sm:pt-0 sm:text-1xl sm:place-self-start
          2xl:text-2-5xl
          text-left
          2xl:pl-8
        "
      >
        Advocacy and Campaigning
      </p>
      <div
        class="
          font-sans
          text-sm
          2xl:pt-12
          sm:text-base
          pb-6
          px-11
          sm:px-0 sm:pl-8 sm:pr-16 sm:p-0
          p-4
          sm:order-4 sm:-mt-24
          2xl:-mt-0 2xl:text-left
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
        felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque
        euismod laoreet.
      </div>
      <div
        class="
          font-cormorant
          text-lg
          sm:text-1xl
          bg-lime
          2xl:text-lg
          w-36
          grid
          place-items-center
          my-0
          mx-auto
          sm:mx-0
          rounded-full
          h-12
          sm:order-3 sm:place-self-end sm:self-start
          2xl:ml-8 2xl:mt-8
          cursor-pointer
          border border-lime
          hover:bg-transparent
          border-solid
          transition
          delay-75
          duration-100
          ease-in-out
        "
      >
        Read more
      </div>
    </div>
  </div>
</div>
