<div class="bg-deepblue pt-10 pb-8">
  <div
    class="
      bg-white
      font-sans
      text-sm text-deepblue
      w-40
      h-10
      flex
      justify-center
      align-center
      my-0
      mx-auto
      items-center
    "
  >
    WHAT WE DO
  </div>
  <div
    class="
      font-cormorant
      text-white text-lg
      items-center
      flex
      justify-center
      align-center
      my-0
      mx-16
      text-center
      pt-5
    "
  >
    Our mission is to create sustainable work for women in developing nations
    while helping to slow climate change.
  </div>
  <div
    class="
      bg-white
      relative
      mt-20
      w-148
      my-0
      mx-auto
      items-center
      align-center
      text-center
      pb-8
    "
  >
    <div
      class="
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-8
      "
    >
      <img src="/assets/img/tree-planting.png" />
    </div>
    <p class="font-cormorant text-lg pt-44 pl-8 pr-8 flex justify-center">
      Tree Planting Initiatives
    </p>
    <div class="font-sans text-sm pb-6 px-11 p-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis,
      auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod
      laoreet.
    </div>
    <div
      class="
        font-cormorant
        text-lg
        bg-lime
        w-36
        grid
        place-items-center
        my-0
        mx-auto
        rounded-full
        h-10
      "
    >
      Read more
    </div>
  </div>
  <div
    class="
      bg-white
      relative
      mt-16
      w-148
      my-0
      mx-auto
      items-center
      align-center
      text-center
      pb-8
    "
  >
    <div
      class="
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-8
      "
    >
      <img src="/assets/img/education-training.png" />
    </div>
    <p class="font-cormorant text-lg pt-44 pl-8 pr-8 flex justify-center">
      Education and Training
    </p>
    <div class="font-sans text-sm pb-6 px-11 p-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis,
      auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod
      laoreet.
    </div>
    <div
      class="
        font-cormorant
        text-lg
        bg-lime
        w-36
        grid
        place-items-center
        my-0
        mx-auto
        rounded-full
        h-10
      "
    >
      Read more
    </div>
  </div>
  <div
    class="
      bg-white
      relative
      mt-16
      w-148
      my-0
      mx-auto
      items-center
      align-center
      text-center
      pb-8
    "
  >
    <div
      class="
        flex
        justify-center
        align-center
        my-0
        mx-auto
        items-center
        absolute
        left-0
        right-0
        -top-8
      "
    >
      <img src="/assets/img/advocacy.png" />
    </div>
    <p class="font-cormorant text-lg pt-44 pl-8 pr-8 flex justify-center">
      Advocacy and Campaigning
    </p>
    <div class="font-sans text-sm pb-6 px-11 p-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis,
      auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod
      laoreet.
    </div>
    <div
      class="
        font-cormorant
        text-lg
        bg-lime
        w-36
        grid
        place-items-center
        my-0
        mx-auto
        rounded-full
        h-10
      "
    >
      Read more
    </div>
  </div>
</div>
